.info{
    .infoContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid rgb(181, 170, 170); 
        padding: 2rem;
        border-radius: 10px;
        .titleDiv{
            .head{
             color: rgb(81, 38, 38);
            }
        }
        .cardsDiv{
            margin-top: 3rem;
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 1rem;
            .singleCard{
                background: rgba(210, 199, 199, 0.5);
                padding: 1rem .5rem;
                border-radius: 6rem;
                box-shadow: 3px 3px 5px 2px;
                gap: 1rem;
                text-align: center;
                margin: auto;
                height: 310px;
                width: 90%;
                max-width: 280px;
                &:hover{
                    transform: scale(1.08);
                    transition: 2s ease-in;
                }
                .iconDiv{
                    justify-content: center;
                    margin: auto;
                    background: green;
                    width:max-content ;
                    padding: 1rem;
                    border-radius: 3rem;
                    .icon{
                        color: white;
                    }
                }
                .cardTitle{
                    color: rgb(89, 44, 44);
                    font-weight: 700;
                    font-size: 19px;
                }
                .col1{
                    background: rgb(120, 90, 61);
                }
                .col2{
                    background: rgb(100, 119, 53);
                }
                .col3{
                    background: rgb(38, 80, 107);
                }
                .col4{
                    background: rgb(125, 33, 111);
                }
            }
        }
    }
}

@media screen and (min-width:570px) {
    .info{
        .infoContainer{
               .cardsDiv{
                grid-template-columns: repeat(2,1fr);
               }
        }
    }   
}
@media screen and (min-width:760px) {
    .info{
        .infoContainer{
            .card4{
                display: none;      
            }
               .cardsDiv{
                grid-template-columns: repeat(3,1fr);
                
               }
        }
    }   
}
@media screen and (min-width:1334px) {
    .info{
        .infoContainer{
            .card4{
                display: grid;
            }
            .cardsDiv{
                grid-template-columns: repeat(4,1fr);
            }
        }
    }
    
}