.support{
    .sectionContainer{
        .titileDiv{
          text-align: center;
          .head{
            color: rgb(56, 9, 30);
          }
          small{
            letter-spacing: .8rem;
            text-transform: uppercase;
            font-size: 13px;
            color:black;
            line-height: 1.5rem;
          }
        }
        .infoDiv{
            display: flex;
            margin-top: 2rem;
            gap: 1.5rem;
            display: grid;
            grid-template-columns: repeat(1,1fr);
            
            .singleInfo{
                margin: 20px;
                p{
                    line-break: anywhere;
                }
                .number{
                     background-color: blue;
                     padding: 1px 10px;
                     width: 40px;
                     border-radius: 3rem;
                     text-align: center;
                     font-size: 13px;
                     font-weight: 700;
                     color: white;
                     
                }
                .colorOne{
                    background:pink;
                }
                .colorTwo{
                    background:green;
                }
            }
        }
        .imgDiv{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            margin: auto;
            max-width: 40%;
            .img1,.img2,.img3{
                max-width:420px;
                border-radius: 40%;
            }
            .img1{
                position: relative;
                bottom: 3vw;
                z-index: 1; 
            }
            .img2{
                position: relative;
                top: 4vw;
                right: 45vw;
            }
            .img3{
                position: relative;
                top: 3vw;
                right: 45vw;
                z-index: 2;
            }
        }
        }
    }
    @media screen and (min-width:380px) {
        .support{
            .sectionContainer{
                .imgDiv{
                    
                    .img1{
                        position: relative;
                        bottom: 10vw;
                        z-index: 1; 
                    }
                    .img2{
                        position: relative;
                        top: 3vw;
                        right: 50vw;
                    }
                    .img3{
                        position: relative;
                        top: 3vw;
                        right: 40vw;
                        z-index: 2;
                    
                }
            }
                .infoDiv{
                    display: grid;
                    grid-template-columns: repeat(1,1fr);
                  
                   }
                 
            }
        }   
    }
    @media screen and (min-width:570px) {
        .support{
            .sectionContainer{
                .imgDiv{
                    
                    .img1{
                        position: relative;
                        bottom: 7vw;
                        z-index: 1; 
                    }
                    .img2{
                        position: relative;
                        top: 3vw;
                        right: 52vw;
                    }
                    .img3{
                        position: relative;
                        right: 45vw;
                        z-index: 2;
                    
                }
            }
                .infoDiv{
                   .textDiv{
                    margin-top: 2rem;
                    grid-template-columns: repeat(2,1fr);
                   }
                   } 
            }
        }   
    }

    @media screen and (min-width:760px) {
        .support{
            .sectionContainer{
                .imgDiv{
                    
                    .img1{
                        position: relative;
                        bottom: 10vw;
                        z-index: 1; 
                    }
                    .img2{
                        position: relative;
                        top: 6vw;
                        right: 7vw;
                    }
                    .img3{
                        position: relative;
                        top: 0vw;
                        right: 45vw;
                        z-index: 2;
                    
                }
            }
                .infoDiv{
                    grid-template-columns: repeat(2,1fr);
                    gap: 2rem;
                    margin-top:5rem;
                   .textDiv{
                    margin-top: 0rem;
                    grid-template-columns: repeat(2,1fr);
                   }
                   } 
            }
        }   
    }

    @media screen and (min-width:1202px) {
        .support{
            .sectionContainer{
                .imgDiv{
                    
                    .img1{
                        position: relative;
                        bottom: 3vw;
                        z-index: 1; 
                    }
                    .img2{
                        position: relative;
                        top: 2vw;
                        right: 25vw;
                    }
                    .img3{
                        position: relative;
                        top: 2vw;
                        right: 25vw;
                        z-index: 2;
                    }
                }
                .infoDiv{
                    gap: 1rem;
                   .textDiv{
                    p{
                        max-width:500px ;
                    }
                   }
                   } 
            }
        }   
    }