.langue{
  border: 2px solid rgb(102, 100, 100);
  border-radius: 10px;
  text-align: center;
  .textDiv{
    .head{
      color: rgb(56, 9, 30);
    }
  }
    .sectionContainer{
      text-align: start;
      border: none;
       gap:1.5rem;
       justify-content:center;
       display: grid;
       grid-template-columns: repeat(1,1fr);  
       .imgDiv{
         .image{
            width: 100%;
            border-radius: 3rem;
         }
       }
        .grids{
            margin-top: 1rem;
            .ToBlocks{
            .singleGrid{
                .gridTitle{
                  display: grid;
                  padding-bottom: 1rem; 
                  padding-top: 1rem;
                  font-weight: 700;
                  font-size: 20px;
                  color:rgb(56, 9, 30); 
                }
            }
          }
        }
       .ToBlocks{
        display: flex; 
        flex-direction: column; 
        padding: 1rem;
    }  
    }
    
}

@media screen and (min-width:480px) {
  .langue{
      .sectionContainer{
              display: grid;
              grid-template-columns: repeat(1,1fr);     
      }
  }
}
@media screen and (min-width:570px) {
  .langue{
      .sectionContainer{
        .imgDiv{
          .image{
            width: 90%;
          }
        }
          .textDiv{
            .grids{
              grid-template-columns: repeat(2,1fr); 
            }
          }     
      }
  }
}
@media screen and (min-width:760px) {
  .langue{
      .sectionContainer{
        grid-template-columns: repeat(2,1fr);
          .textDiv{
            grid-area: 1;
            .grids{
              grid-template-columns: repeat(2,1fr); 
            }
          }     
      }
  }
}