.Container{
    .Mimg{
      width: 100%;
      height: 7rem;
      background: rgba(6, 32, 39, 0.9);
    }
    text-align: center;
    .heding{
        text-align: center;
        color:rgb(59, 44, 44);
        text-decoration: underline;
    }
    .Cards{
        height: max-content;
        border: 2px solid;
        border-radius: 5%;
        padding: 10px;
        margin: 2% 5% 5% 5%;
        gap:10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .image{
            border-radius: 5%;
        }
        .star{
            color:black;
            :hover{
                transform: scale(1.2);
                transition: .2s ease-in;
            }
        }
        .viewbt{
            padding: 2%;
            font-weight: 700;
            background-color:rgb(128, 148, 155);
            border-radius: 5px;
        }
        &:hover{
            background-color: rgb(229, 233, 237);
        }
    }

    .container1{
        .heading{
            color:rgb(59, 44, 44);
            text-decoration: underline;
        }
        .grid-imgs{
            display: grid;
            grid-template-columns: repeat(2,45vw);
            justify-content: space-evenly;
            padding-top: 2px;
            .item1,.item4{
            grid-column-start: 1;
            grid-column-end: 3;
            }
            .item1,.item2,.item3,.item4,.item5,.item6,.item7{
                  border: 2px solid;
                  border-radius: 15px;
                  padding: 2%;
                  margin: 5px;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  .imageG{
                    border-radius: 20px;
                  }
                  &:hover{
                    background-color: rgb(225, 234, 241);
                }
            }
            .item2,.item6{
                .ExtraCard{
                    display: none;
                }
            }
            .viewbt{
                padding: 2%;
                font-weight: 700;
                font-size: 1.2rem;
                background-color:rgb(138, 166, 176);
                border-radius: 5px;
            }
            .item7{
                display: none;
            }
           
        }
    }
}

@media screen and (min-width:420px) {
    .Container{
        .Mimg{
            height: 8rem;
          }
        .card-grid{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .Cards{
            width: 40vw;
            margin: 2% 0% 3% 0%;
        }
        .grid-imgs{
            .item2,.item6{
                .ExtraCard{
                    display: block;
                }
            }
        }
    }
}
@media screen and (min-width:800px) {
    .Container{
        .Mimg{
            height: 10rem;
          }
        .Cards{
            width: 32vw;  
        }
        .container1{
            .grid-imgs{
            grid-template-columns: repeat(3,32vw);
            .item7{
                display: block;
                grid-column-start: 2;
                grid-column-end: 4;
                .viewbt{
                    font-size: 1.5rem;
                    padding: .5rem;
                }
            }
            .item4,.item1{
                grid-column-start: 1;
                grid-column-end: 2;
            }
            .item1{
                grid-column-start: 1;
                grid-column-end: 3;
                .viewbt{
                    font-size: 1.5rem;
                    padding: .5rem;
                }
            }
            .item4{
                grid-column-start: 2;
                grid-column-end: 3;
            }
                .item2,.item6{
                    .ExtraCard{
                        display: block;
                    }
                }
        }
    }
    }
}