.Mcontainer{
    .UseSticky{
        position: sticky;
        top: -95px;
    .image{
        width: 100%;
        height: 15rem; 
     }
    
    .subContainer{
        display: flex;
        justify-content: center;
        position: relative;
        bottom: 2.8rem;
       .Bar{
        border: 1px solid black;
        border-radius: 10px;
        background-color: rgb(161, 162, 163);
        padding: 1rem;
        width: fit-content;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: center;
        gap: 4rem;
        .list{
            padding: .3rem .4rem .6rem;
            font-weight: 600;
            border-radius: 1rem;
           
            &:hover{
                background-color: aliceblue;
            }
           .icon {
            position: relative;
            top: 5px;
            font-size: 1.5rem;
           }
        }
       }
    }
}
    #SpecialOffers,#BankOffers,#PaymentApps,#Flights-Offers,#HolidayOffers,#HotDeals{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        justify-items: center;
        gap: 1rem;
    .cards{
        display: flex;
        flex-direction: column;
        border: 2px solid black;
        border-radius: 10px;
        width: 23vw;
        padding: .5rem;
        .images{
            height:250px ;
            border-radius: 10px;
        }
        .Promocode{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: space-between;
        }   
      }
    }
}