
.MainM{
   display: flex;
   flex-direction: column;
   align-items: center;
   // background-color: aqua;
   // padding:6%;
.main{
   text-align: center;
   border: 10px solid;
   padding: 30px;
   border-radius: 20px;
   margin-top: 10%;
   border-image: linear-gradient(to left, red,green, yellow,rgb(41, 2, 9)) 1;
   .mainField{ 
      .sty{
         color:rgb(41, 2, 9);
         font-weight: 620;
         font-size: larger;
      }
   
   .field{
      display: flex;
      flex-direction: row;
      padding: 30px;
      justify-content: space-evenly;
      gap: 20px;

      input{
         padding: 5px;
         border: none;
         border-bottom:4px solid red;
         color:black;
         font-weight: 600;
         // background-color: lightblue;
         &:focus{
            background:white;
            text-decoration: none;
         }
      }
   }
   .btns{
      border-radius: 10px;
      padding: 10px;
      background-color: rgb(200,200,260);
     cursor: pointer;
     margin-bottom: 20px;
   }
}
}
}

