.home{
    z-index: -1;
    text-align: center;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    /* height: 10%; */
    width: 100%;
    margin-top: 2rem;
}
.mainText{
    color: black;
    font-size: 15px;
    line-height: 2rem;
    padding: 0rem 1rem;
}
.homeImages{
    z-index: -1;
    margin: .5rem auto 0;
    justify-content: center;
    align-items:center;
    position: relative;
    width: 100%;
}
.videoDiv{
    width: 90%;  
}
.video{
    height: 15rem;
    border-radius: 30rem;
 }
 .plan{
    position: absolute;
 }
 @media screen and (min-width:570px){
   

   .plan{
     position: absolute;
     width:90%;
   }
 }
  @media screen and (min-width:680px){    
    .video{
        height: 100%;
        width: 100%;
    } 
    .videoDiv{
     width: 80%;
    }
    .plan{ 
      width:80%;
    }
  }
 
  @media screen and (min-width:960px){

    .mainText{
      padding-bottom:1.5rem;
      font-size: 22px;
      line-height: 4rem;
    }
  
  }  
  @media screen and (min-width:1024px){ 
    .mainText{
      font-size: 25px;
      line-height: 4rem;
    }
    .videoDiv{
      width: 900px;
      height: 400px;
    }
    .video{
      width: 100%;
      object-fit: cover;
      opacity: .9;
    }
    .plan{
      width: 60%;
      /* top: -10%; */
    }
  
  } 


                