 
.navBar{
    position: sticky;
    top: 0px;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    z-index: 1000;
    .navBarOne,.navBarTwo{
       justify-content:space-between;
       padding: 1rem;
       width: 100%; 
    }
    .navBarOne{
        background: rgba(0,20,25,0.9);
        .icon{
         color: rgb(103, 124, 124);
        }
        .atb{
            gap:1rem;
            span{
               color: lightblue;
                font-size: 15px;
                font-weight: 600;
                cursor: pointer;
                &:hover{
                  font-size: 700;
                }
            }
            }
            .flex{
                color: aliceblue;
            }
    }
    .navBarTwo{
        justify-content: space-between;
        top:3rem;
        padding: .5rem;
        transition: .3s ease-in-out;
        display: flex;
        .logoDiv{
            .logo{
                font-size: 2rem;
                color: aliceblue;
                position: relative;
                max-width: 100%;
            }
        }
        .navBarMenu{
            .menu{
                display: flex;
                gap: 1rem;

            }
        }
        @media screen and ( max-width:760px ) {
            .navBarMenu{
                position: absolute;
                background-color: rgba(0,20,25,0.9);
                padding: 3rem;
                border-radius: 10px;
                top:6rem;
                display: none;
                transform: translateX(50%);
                z-index: 2000;
                box-shadow: 1px 1px 1px;
                border: 2px solid white;
                transition: .4S ease-in-out;
                .menu{
                    flex-direction: column;
                    gap: .7rem 0;
                    text-align: center;
                    .listItems{
                        padding: .5rem 0;
                        cursor: pointer;
                        color: rgb(202, 202, 222);
                        &:hover{
                            color:rgb(195, 112, 155);
                            font-weight: 700;
                        }
                    }
                }
                .btnOne{
                    display: block;
                    justify-content: center;
                    margin: auto;
                    margin-top: 1rem;
                }
            }
        }
        .toggleIcon{
            .icon{
                visibility: visible;
                font-size: 40px;
                color:aliceblue;
            }
        }
        .showNavBar{
            display: block;
            right: 50%;
            transition: .4s ease-in-out;
        }
    }
    .navbar_Bg{
        background: rgba(0,20,25,0.9);
        padding: .5rem 1rem;
    }
}

@media screen and (min-width:760px){
    .navBar{
       align-items: center;
    }
    .navBarOne .none{
        display: flex;
        gap: 1.5rem;
    }
    .navBarTwo{
        justify-content: space-between;
        align-items: center;
    }
    .logoDiv .logo{
        position: relative;
        top: 0px;
         font-size: 2rem;
         max-width: 100%;
    }
    .menu{
        flex-direction: row;
    }
    .toggleIcon{
        display: none;
    }
    .listItems{
        padding: 0.5rem;
        font-size: 20px;
        cursor: pointer;
        color: aliceblue;
        font-weight: 700;   
    }
}

@media screen and (min-width:1024px) {
    .navBar{
        .navBarOne{
            padding: .8rem 3rem;
        }
        .navBarTwo{
        padding: 0rem 2rem;
        .logoDiv .logo{
            font-size: 3rem;
            max-width: 100%;
        }
       } 
    }
}
@media screen and (min-width:1332px) {
    .navBar{
       .navBarTwo{
        .menu{
            gap:1rem;
            .listItems{
                padding: 0 1rem;
                font-size: 20px;
            }
        }
       } 
    }
}

        
        
        