
 /*  navBar */

 .nav{
    background-color:green; 
    z-index: 1 !important;
}
 .navBarMenu{
    flex-direction: column;
    width: 100%;
    background-color: aliceblue;

 }
    .navBarOne{
        background-color: aliceblue;
        display: flex; 
        align-items: center;
        position: fixed;
        justify-content: space-between;
        padding: 1rem;
        top: .3rem;
        width: 100%;
        
    }
    .navBarTwo{
        display: flex;
        top: .8rem;
        padding: 1.5rem 1rem;
        position: fixed;
        transition: .3s ease-in-out;
    }     
        
    .icon:hover{
            color:blue;
            cursor: pointer;
        }
        
    .atb{
         gap: 3rem; 
         display: flex; 
         align-items: center;
          
        } 
        span{
            color: black;
            font-size: 15px;
            cursor: pointer;
            
            }
            span:hover{
                color:blue;
                font-size: 7000;
                }

        .logoDiv{     
            width: 150px;
            z-index: 1;
            }
        .navBarMenu{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            padding: 1.5rem 1rem;
            position: fixed;
            gap: 5rem;
            top: 5rem;
            right: 1rem;
        }
        .toggleIcon{
            display: none; 
        }
        .menu{
            display: flex; 
            gap: 3rem;
            top: 2px;
        }
        .none{
            display: none; 
            gap: 2rem;
            display: flex; 
            align-items: center;
        }
        .btnTwo{
            display: none;
        }
              /* @media screen and (max-width:760px){
                .navBarMenu{
                    display: none;
                    position: absolute;
                    background: pink;
                    padding: 1.5rem;
                    text-align: center; 
                    top: 5%;
                    right: 50%; 
                    width: 80%;
                    transform: translateX(50%);
                    z-index:2000;
                    box-shadow:1px 1px 1px;
                    transition: .4s ease-in-out;
                    width: 100%;
                    border:2px solid white;
                    display: flex;
                    flex-direction: column;
                    border-radius: 10px;
                    top: 5rem;
                }
                     .menu{
                        flex-direction: column;
                        gap: .5rem;
                        text-align: center;
                        cursor: pointer;
                        color: black;
                    } 
                    .listItems{
                        padding: .5rem 0;
                        cursor: pointer;
                        right: 10px;
                    } 
                         .listItems:hover{
                            font-size: 500;
                            color:green;
                        
                        } 
                        .btnOne{
                            justify-content: center;
                            margin: auto;
                        }
                     .btnTwo{
                        display: none;
                        margin: auto;
                        margin-top: 20rem;
                    } 
                    .toggleIcon{
                        display: contents; 
                    }
                    .icon{
                        font-size:30px ;
                        color: black;
                    } 
                    .none{
                      display: none;  
                    }
                    .navBarTwo{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                    }
                    .showNavBar{
                        right:100%;
                        transition:.5s ease-in-out;
                        display: block;
                    }
                      
                }
  */


        
        
        