

.sectionContainer{
    width:100% auto;
    padding: 1.5rem;
    border: 2px solid gray;
    border-radius: 16px;
    row-gap: 2rem;
}
.btns{
    background-color: aliceblue;
    padding: .5rem;
    border-radius: 1rem;
    margin: auto;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.singleBtn{
    padding: .8rem 1.5rem;
    font-size: 13px;
    border-radius: 3rem;
    text-align: center;
}
.singleBtn:hover{ 
    width: auto;
    background-color: blue;
    color: white;
    font-weight: 500;
    transition: .4s ease;
}
.singleBtn:active{
    border-color: green;
    color: white;
    font-weight: 500;
}
.searchInputs{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1.5rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.iconDiv{
    padding: 16px 10px;
    border-radius: 3rem;
    background-color: azure;
    margin-right: 1rem;
    z-index: -1;
}
.icon{
  color: black;
  
}
h4{
    padding-top: 0;
    padding-bottom: .7rem;
    color: black;
    font-weight: 700;
}
input{
    width: 100%;
    border: 5px;
    outline: none;
    background: transparent;
}
input::placeholder{
    font-size: 12px;
    opacity:.5;
   
}
@media screen and (min-width:480px){
   .searchInputs{
        display: grid;
        grid-template-columns: repeat(2,1fr);

    }
    .btns{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}
@media screen and (min-width:570px){
  
     .btns{
        border-radius:3rem ;
         display: flex;
         flex-direction: row;  
     }

 }
 @media screen and (min-width:680px){
  
    .btn{
      height: auto;
      width: auto;
      border-radius:3rem;
      flex-direction: row;
    }
    .searchInputs{
        grid-template-columns: repeat(3,1fr);
    }
}

@media screen and (min-width:760px){ 
    .btns{
        width: 70%;
        border-radius: 3rem;
        flex-direction: row;
    }
    .searchInputs{
        grid-template-columns: repeat(4,1fr);
    }
    .texts input{
      width: 100%;
    }
}
@media screen and (min-width:960px){  
    .searchInputs{
        grid-template-columns: repeat(5,1fr);
    }
}
@media screen and (min-width:1024px){  
   .btns{
    width:50%;
   }
}