

@import url("http://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=spartan:wght@300;400;500&display=swap");


*{
    padding:0px;
    margin: 0px;
    box-sizing:border-box;
    font-family: 'spartan',sans-serif;
}


body{
    background-color: white;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
    font-size: 1.2rem;
    cursor: pointer;
    justify-content: space-evenly;
}
.section{
   width: 100%;
    padding: 2rem 0 2rem;
}
.container{
   width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.icon{
    font-size: 1.3rem;
    cursor:pointer;
}

.flex{
   display: flex; 
   align-items: center;
}
.grid{
    display: grid; 
    align-items: center;
 }

 .btn{
    padding: .3rem 1.3rem;
    background: blue;
    border: none;
    outline: none;
    border-radius: 3rem;
    cursor: pointer;
    color: white;
    
 }
 a{
    color: rgb(69, 69, 210);
    font-weight: 500;
}
.none{
    display: none;
}
.btn:hover{
    background:pink;
}
 img,video{
    width: 100%;
    height: auto;
 }
 input{
    font-size: 100%;
    color: gray;
 }
 h4{
    padding: 1rem 0;
    font-weight: 700;
    color:black;
 }
 h2{
    font-size:25px ;
    padding: 1rem 0;
    color:black;
 }

 @media screen and (min-width:1024px) {
    p{
        font-size: 20px;
        line-height: 25px;
     }
     h4{
      font-size: 20px;
     }
     h2{
        font-size:27px;
     }
     .container{
     width: 90%;
     margin: auto;
    }
    .section{
        padding: 1rem 0 4rem;
    }    
 }

 ::selection{
    background: rgb(103, 114, 61);
    color: rgb(186, 192, 197);
 }
 ::-webkit-scrollbar{
    width: 10px;
    color: gray;
 }
 ::-webkit-scrollbar-thumb{
    background: blue;
    border: 10px;
    border-radius: 10px;
 }
